.multiwidget_author_avatars .author-list {
	text-align: center;
}
.multiwidget_author_avatars .author-list .user {
	padding: 0.2em;
	display: inline;
}
.multiwidget_author_avatars .author-list .with-name {
	display: block;
}
.multiwidget_author_avatars .author-list .user .name {
	display: block;
}
