/**
 * Included on administration / settings screens that use the settings api
 */
.input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
}
.input-prepend.add-on {
	font-size: 12px;
}
#lp_twitter {
	width: 15em;
	margin-right: 10px;
}

.input-prepend input {
    position: relative;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius:    0 3px 3px 0;
    border-radius:         0 3px 3px 0;
}

.input-prepend .add-on,
.input-prepend.add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 15px;
    padding: 3px 5px;
    margin: 1px -2px 1px 0px;
    line-height: 15px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}

.input-prepend .add-on:first-child,
.input-prepend.add-on:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius:    3px 0 0 3px;
    border-radius:         3px 0 0 3px;
}

table.description {
    font-style: italic;
    color: #666;
}

table.description tr td:first-child {
    padding-left: 0;
}

#icon-livepress-settings {
    background-image: url("../img/admin-screen-icon.png"); /* TODO This icon (and it's 2x) could use some graphic designer love to look more like wp icons. ~tddewey */
}

/**
 * API Authentication styles
 */
#api_key {
	font-family: Monoco, monospace;
	font-size: 16px;
	margin: 0 10px;
	padding: 5px;
}

#api_key_status {
    padding: 7px 0 2px 18px;
    width: 150px;
}

#api_key_status.valid_api_key {
    background: url(../img/icon-authenticated.png) 5px 10px no-repeat;
    color: green;
    font-size: 11px;
}

#api_key_status.invalid_api_key {
    color: red;
}

/**
 * HiDPI Graphics
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    #icon-livepress-settings {
        background-image: url("../img/admin-screen-icon-2x.png");
        background-size: 32px auto;
    }
}