
.unt_lp_extras {
}

.unt_lp_moods{
}

.unt_lp_music{
}

.cutid {
}

.ljuser {
}

.ljuserinfo {
}

.ljusertagimg {
}

.reset p {
    text-align: right;
}

table.jlist {
	width: 50%;
	border: 0px;
	margin: 0px;
	float:right;
}

table.jlist tr {
	border: 0px;
	margin: 0px;
}
